
header {
    font-family:"Rampart One", cursive;
    font-size: 5em;
    text-align: center;
    color: #EF798A;
}
.points {
    display: flex;
    justify-content: center;
    font-family:"Rampart One", cursive;
    color: #54494B;
}
#points-space {
    display: none;
}
.cards{
    padding: 0.6em;
    display:none;
}
.card-space {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.card-space h2 {
    padding: 1em;
}
.nxt-rnd {
    background-color: #EF798A;
    font-family: "Libre Baskerville", serif;
    height: 5rem;
    width: 15rem;
    font-size: large;
    color:#FFFCFF;
    border-color: #FFFCFF;
}
.losingScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.losing h3 {
    font-family: "Rampart One", cursive;
    font-size: 5em;
    color: #91C7B1;
}
.new-game-btn {
    background-color: #EF798A;
    font-family: "Libre Baskerville", serif;
    height: 5rem;
    width: 15rem;
    font-size:large;
    color: #FFFCFF;
    border-color: #ECCBD9;
}
.add-card, .addFourthCard, .addFifthCard {
    background-color: #91C7B1;
    font-family: "Libre Baskerville", serif;
    height: 5rem;
    width: 15rem;
    font-size: large;
    color:#FFFCFF;
    border-color: #FFFCFF;
}
.Total {
    font-family: "Rampart One", cursive;
    color: #054A29;
    display:none;
}
body {
    background-color: #FFFCFF;
}
.start-game p {
    font-family: "Libre Baskerville", serif;
    color: #54494B;
    font-size: 1.5em;
}
.start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-start {
    background-color: #EF798A;
    font-family: "Libre Baskerville", serif;
    height: 5rem;
    width: 15rem;
    font-size:large;
    color: #FFFCFF;
    border-color: #ECCBD9;
    margin-top: 2%;
    margin-bottom: 4%;
}
.only-table {
    border: 1px solid #91C7B1;
    text-decoration: underline;
    text-decoration-color: #91C7B1;
}
.points-guide {
    font-family: "Libre Baskerville", serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #54494B;
}
.points-guide table{
    font-size:22px;
}
.points-guide h2{
    font-weight: 700;
    margin-left: 8%;
}
#game-starts, #addFourthCard, #addFifthCard, #start-game, #nextRnd, #losing{
    display: none;
}
.game-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.placeHolderCards {
    height: 200px;

}